<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pharmaceutique</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="clickable" >Home</a></li>
      <li class="active"><a class="clickable" (click)="getAllProducts()" >Products</a></li>
      <li class="active"><a class="clickable" (click)="onCreateProduct()" >Create Product</a></li>
      <li class="active"><a class="clickable" (click)="onSearchProduct()" >Search Product</a></li>
    </ul>
    <ul *ngIf="!this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogin()"class="btn">
          <span class="glyphicon glyphicon-log-in"></span>
        </a>
      </li>
    </ul>
    <ul *ngIf="this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogout()"class="btn">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group" >
        <li><a class="clickable" ></a></li>
    </ul>
  </div>
  
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div>